{% extends 'base.html.twig' %}
{% block title %} Add {% endblock %}
{% block body %}
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Название">
        <input type="text" name="price" placeholder="Цена(сом)">
        <input type="text" name="type" placeholder="Тип">
        <input name="maker" type="text" placeholder="Company">
        <input type="file" name="file" >
        <textarea name="text" placeholder="Описание"></textarea>
        <button type="submit" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Сохранить">Сохранить</button>
    </form>
{% endblock %}

